/*
Colors:
mit'mit'a red: #CB6027
background blue: #7FC8FF
*/
span.sgw {
	font-family: 'Gurage Zebidar';
	font-size: '16';
}
span.amh {
	font-family: 'Ethiopic Jiret,Abyssinica SIL';
	font-size: '16';
}

html
{
//     display: inline-table;
     margin-left: auto;
     margin-right: auto;
}

body
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0pt;
	margin-bottom: auto;
//	padding-left: 12pt;
//	padding-right: 12pt;
	padding-top: 0pt;
	padding-bottom: 12pt;
        font-size: 14px;
	font-family: verdana, geneva, arial, sans-serif;
	background-color: #FFF;
        display: block;
	overflow: scroll;
}
a:link { color: #4B2B17; text-decoration: underline}
span.fuzzy a:link { color: #66BB66; }
a:visited { color: #4B2B17 }
span.fuzzy a:visited { color: #558855; }
a:active { color: #000000; }
a:hover { color: #338888; }
span.fuzzy a:hover { background-color: #66FF66; color: #FFFFFF; }
h1,h2,h3 { clear: left; }
h1
{
	font-size: 150%;
	margin-top: .25em;
	margin-bottom: 0;
        border-top: thin solid;
	border-bottom: thin solid;
	text-align: left;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #CB6027;
//	padding: 4px;
}
h2
{
    font-size: 130%;
    font-weight: bold;
    margin-top: .75em;
    margin-bottom: .35em;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
}
h3
{
    border-bottom-style: solid;
    border-bottom-width: .25px;
    font-size: 120%;
    font-weight: normal;
    margin-top: .5em;
    margin-bottom: .35em;
}
h4
{
 	font-size: 115%;
	font-weight: bold;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: 4px;
}
div.user
{
    font-size: 110%;
    margin-top: .75em;
    margin-bottom: .35em;
}
p
{
	margin-top: .5em;
	margin-bottom: .5em;
        clear: left;
}
p.error
{
    color: #f00;
    font-style: italic;
    font-size: 110%;
}
div.advert
{
   vertical-align: top;
   line-height: 1.1;
   width: 100%;
   font-family: "Verdana";
   font-size: 100%;
   color: red;
   border: none;
   margin: 0px;
   padding-bottom: 6px;
}
div.instruc
{
   vertical-align: top;
   line-height: 1.1;
   width: 100%;
   font-family: "Verdana";
   font-size: 90%;
   border: none;
   margin: 0px;
}

td.instruc
{
   vertical-align: top;
}
br.instruc
{
    margin-top: 3px;
    content: "";
    display: block;
}
br.sep
{
    margin-top: 10px;
    content: "";
    display: block;
}

.instructions
{
    font-size: 100%;
}

div.nav
{
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
}
table.main
{
    table-layout: fixed;
    margin-top: 35pt;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
table.main tr td
{
	vertical-align: top;
	padding: 0pt;
}
table.main td p
{
	margin-top: 10pt;
	margin-bottom: 5pt;
	margin-left: 50pt;
	margin-right: 75pt;
	width: auto;
}

table.main td ul
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	width: auto;
}
table.main td ul li
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	width: auto;
}
table.main td ol
{
    margin-left: 50pt;
    margin-right: 50pt;
    margin-top: 5pt;
}

table.nav
{
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	border-collapse: collapse;
}
table.nav tr td img.banner
{
    vertical-align: bottom;
}
table.nav tr td.menu
{
    background-color: #7FC8FF;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 5px;
    border-right: 0;
    margin: 0;
		font-weight: bold;
		font-size: 120%;
}
table.nav tr td.menufuzzy
{
    background-color: #7FC8FF;
    color: #999999;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 5px;
    border-right: 0;
    margin: 0;
}
table.nav tr td.menuuser
{
    background-color: #7FC8FF;
    color: #F5E754;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 5px;
    border-right: 0;
    margin: 0;
}
table.nav tr td.menu a
{
    text-decoration: none;
}
table.nav tr td.menu a:hover
{
    color: #CB6027;
    background-color: #7FC8FF;
}
table.nav tr.brown
{
    background-color: #7FC8FF;
}

table.main td h1,h2,h3,h4
{
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 0pt;
	margin-right: 0pt;
	width: auto;
}

img.instructions
{
    margin-top: 10pt;
    margin-left: 50pt;
    padding: 5pt;
    border-style: double;
    vertical-align: middle;
}

video.instructions
{
    margin-top: 10pt;
    margin-left: 50pt;
    padding: 5pt;
    border-style: double;
    vertical-align: middle;
}

th.TM
{
   max-width: 35%;
   color: silver;
}
td.mbojereha
{
   text-align: center;
   padding: 20px;
}
td.text
{
        vertical-align: top;
        text-align: left;
        width: 100%;
/*        border: 1px solid black; */
}
#help
{
        background-color: #c00;
        color: #fff;
        font-family: "Verdana";
        font-size: 100%;
        width: 20%
}
#help:hover
{
        background-color: #f00;
}
span.label
{
        font-weight: bold;
}
span.document
{
   font-size: 100%;
   font-weight: bold;
   color: #F00;
   border: thin solid;
}
span.cargando
{
    font-size: 125%;
    font-weight: bold;
    font-style: italic;
}
span.username
{
    background-color: #4B2B17;
    color: #F5E754;
/*    font-style: italic; */
}
span.level
{
    font-weight: bold;
    font-size: 100%;
}
span.sentence
{
   font-size: 120%;
   font-weight: bold;
   border: thin solid;
}
#parenthetical
{
    font-weight: normal;
    color: LightGray;
}
span.choice
{
   font-size: 80%;
}
span.instruction
{
   font-size: 100%;
   font-style: italic;
}
span.alternar
{
    font-size: 90%;
    cursor: default;
}
span.alternar:hover
{
    text-decoration: underline;
    cursor: pointer;
}
span.heading
/* Generic headings */
{
    font-size: 110%;
}
input.text
{
        font-family: "Verdana";
        font-size: 100%;
        height: 20px;
	width: 500px;
}
#medtext
{
        font-family: "Verdana";
        font-size: 100%;
        width: 40%
}
#button
{
        background-color: #F5E754;
        color: #4B2B17;
        font-family: "Verdana";
        font-size: 100%;
        text-align: center;
        width: 120px;
	padding: 0px 2px;
	margin: 2px 0px;
	border-radius: 4px;
	border-style: outset;
	border-color: black;
	border-width: 2px;
        cursor: pointer;
}
#mainbutton
{
        background-color: #F5E754;
        color: #4B2B17;
        font-family: "Verdana";
	font-weight: bold;
        font-size: 100%;
/*        align: center; */
        width: 150px;
	border-radius: 4px;
	border-style: outset;
	border-color: black;
	border-width: 2px;
}
#button:hover, #button:active, #mainbutton:hover, #mainbutton:active
{
        background-color: #4B2B17;
        color: #F5E754;
}
#altbutton
{
        color: #4B2B17;
        background-color: #F5E754;
        font-family: "Verdana";
        font-size: 100%;
        width: 150px;
        align: center;
	border-radius: 4px;
	border-style: outset;
	border-color: black;
	border-width: 2px;
}
#altbutton:hover
{
        color: #F5E754;
        background-color: #4B2B17;
}
table.title
{
    margin-top: .75em;
    margin-bottom: .25em;
    margin-right: 0px;
    margin-left: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
    border-spacing: 0;
}
table.title tr
{
    border: 0px;
}
td.titleleft
{
    text-align: left;
    padding: 0px;
    border: 0px;
    width: 70%;
    color: #000;
    background-color: #8DEDCD;
    font-size: 130%;
    font-weight: bold;
}
td.titleright
{
    text-align: center;
    font-size: 110%;
    padding: 0px;
    border: 0px;
    width: 30%;
    background-color: #000;
    color: #8DEDCD;
}
input.menu
{
    background-color: #4B2B17;
    color: #8DEDCD;
    font-family: "Verdana";
    font-size: 100%;
    text-align: right;
    padding-right: 10pt;
    padding-bottom: 0;
    padding-top: 0;
    border: 0;
    cursor: pointer;
}
input.menu:hover, input.menu:active, input.menu:focus
{
    color: #F5E754;
    border: none;
    outline: none;
}
input.trad
{
    color: black;
    font-size: 90%;
    text-align: center;
    width: 185px;
    height: 22px;
    margin-top: 3px;
    margin-bottom: 3px;
}
button.menu
{
    background-color: #7FC8FF;
    color: #000000;
    font-family: "Verdana";
    font-size: 100%;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
}
button.menu:hover, button.menu:active, button.menu:focus
{
    color: #CB6027;
    border: 0;
    outline: none;
}
/* Help windows */
h4.help
{
    font-size: 110%;
    font-weight: bold;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 8px;
    margin-right: 8px;
}
h5.help
{
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
    margin-top: .25em;
    margin-bottom: .1em;
    margin-left: 8px;
    margin-right: 8px;
}
p.help
{
    margin-top: .5em;
    margin-bottom: .25em;
    margin-left: 8px;
    margin-right: 8px;
    clear: left;
}
ol.help
{
    margin-top: .1em;
    margin-bottom: .1em;
}
textarea.doc
{
    font-family: "Verdana";
    font-size: 100%;
    width: 798px;
    height: 300px;
    margin: 0;
    padding: 0;
/*    border: 0; */
}
.despleg-wrap {
    float: left;
    overflow: hidden;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #4B2B17;
    color: #8DEDCD;
    padding: none;
    margin: 0;
}
button.despleg {
    position: relative;
    display: inline-block;
    background-color: #4B2B17;
    color: #8DEDCD;
    font-family: "Verdana";
    font-size: 100%;
    text-align: right;
    padding-right: 4pt;
    padding-bottom: 0;
    cursor: pointer;
    border: 0;
}
button.despleg:hover, button.despleg:active, button.despleg:focus
{
    color: #F5E754;
    border: 0;
    outline: none;
}
.contenido-despleg {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    text-align: center;
    overflow: auto;
    padding: 5px 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.opinic {
    color: black;
    cursor: pointer;
    display: block;
    padding: 0;
}
.contenido-despleg span {
    color: black;
    padding: 3px 7px;
    text-decoration: none;
    display: block;
}
.vl {
  border-left: 2px solid black;
  margin-left: 6px;
  margin-right: 8px;
  height: 80px;
}
.show {display: block;}

div.paso
{
    font-size: 110%;
   vertical-align: top;
   margin-top: 10pt;
   width: auto;
   font-style: italic;
}
div.paso::before
{
    content: "◼︎ ";
    font-style: normal;
}
span.paso
{
    margin-left: 25pt;
}

div.subpaso
{
    width: auto;
    font-size: 90%;
    margin-top: 8pt;
    margin-left: 50pt;
    margin-right: 50pt;
    margin-bottom: 8pt;
}
.vspace
{
    top: -55px;
    position: relative;
}

#inicio {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 280px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border-radius: 4px;
  border-style: outset;
  border-color: black;
  border-width: 2px;
  outline: none; /* Remove outline */
  background-color: #4B2B17;
  color: #8DEDCD;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0px 2px; /* Some padding */
  border-radius: 4px; /* Rounded corners */
  font-size: 100%; /* Increase font size */
}

#inicio:hover {
    color: #F5E754;
    background-color: #4B2B17;
}
