<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}" />

{% block style %}{% endblock %}

<title>
{% block title %}
Gyez: an Assistant for Amharic to Guraginya Translation
{% endblock %}
</title>
</head>

<body>

<div class='body'>

{% block body %}{% endblock %}

{% block script %}{% endblock %}
<script async="" src="{{url_for('static', filename='Misc.js')}}"></script>

</div>

</body>
</html>
