<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}" />

<title>Mit'mit'a: an Assistant for English-Amharic Translation: Contact</title>

</head>

<body>

<form action='login' method="post">

<table class="center">
  <tr>
    <td class="title">
    <a href="base">
    <img class='banner' src="{{url_for('static',
      filename='banner_logo_short.png')}}" alt="" width="500"
      height="90" />
    </a>
    </td>
    <td class="menu" style="width: 250px"><a href="project">PROJECT</a></td>
    <td class="menu" style="width: 250px"><input type="submit" value="START SESSION" class="menu"></td>

</tr>
<tr>
<td colspan="5" style="width:1000px">  
<h2>Mit'mit'a: contact
  </h2>

  <h3>To ask questions or make suggestions or criticism
  </h3>

  <p>
  Email the director of the project, <a href="http://homes.soic.indiana.edu/gasser/">Michael Gasser</a>:
  <a href="mailto:gasser@indiana.edu?Subject=Mit'mit'a">gasser AT indiana DOT edu</a>.
  </p>

<h3>Para participar
  </h3>

  <p>
  We have a Google group <a
  href="https://groups.google.com/forum/#!forum/mitmita-users">
  for users of Mit'mit'a.
  In the group you can share comments on the project and on
  translation in the Ethiopian context generally.
  If you'd like to join the group,
  send an email to <a href="mailto:gasser@indiana.edu?Subject=Google%20Group%20for%20Mitmita">Michael Gasser</a>.
</p>

<hr/>

</td>
</tr>

</table>  

  </form>

</body>
</html>
