{% extends "base.html" %}

{% block body %}
<form method=POST id='form'>

<div class="nav">
<table class="nav">
  <tr class='brown'>
    <td class="title">
    <a href="/">
    <img class='banner' src="{{url_for('static', filename='banner_logo.png')}}" alt="" width="300px" height="52px" />
    </a>
    </td>

    <td class="title" style="width: 100px"></td>

    <td class="menu" style="width: 200px">
      <button class="menu" onclick="traducir()">REINICIAR</button></td>
    <td class="menu" style="width: 200px"><a href="ayuda">AYUDA</a></td>
    <td class="menu" style="width: 200px"><a href="acerca">ACERCA</a></td>
    <td class="menu" style="width: 200px"><a href="contacto">CONTACTO</a></td>

  </tr>
</table>
</div>

<table class="main">
<tr>
<td colspan='3' style="width: 1212px">

<div id="cargando">
<h1>¡Aguyje reiporu rehe Mainumby!</h1>
</div>

</td>
</tr>
</table>

</form>
{% endblock %}

{% block script %}
<script>
function ingresar() {
    form = document.getElementById("form");
    form.action = "login";
    form.submit();
}
function traducir() {
    form = document.getElementById("form");
    document.getElementById("cargando").innerHTML = "<p></p><span class='cargando'>Reiniciando sesión. Cargando base de datos...</span><p></p>";
    form.action = "tra";
    form.submit();
}
</script>
{% endblock %}
