<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}" />

<title>Mit'mit'a: an English-Amharic Translation Assistant</title>

</head>

<body>

<form method=POST action='login'>

<table class="center">
  <tr>
    <td class="title">
    <a href="base">
    <img class='banner' src="{{url_for('static',
      filename='logo.png')}}" alt="" width="300px"
      height="52px" />
    </a>
    </td>
    <td class="menu" style="width: 500px">
      <input type="submit" action="reiniciar" name="reiniciar"
      value="RESTART" class="menu">
      </td>
  </tr>

<tr>
  <td colspan="2" style="width:800px">
</table>

<h1>Thank you for using Mit'mit'a!</h1>

</form>

</body>

</html>