{% extends "base.html" %}

{% block style %}

<style type="text/css">
#continuar
{
    clear: left;
    font-size: 100%;
    cursor: pointer;
    text-decoration: underline;
}
#continuar:hover
{
    background-color: #8DEDCD;
}
</style>
{% endblock%}

{% block script %}
<script>
function ShowHelp() {
    var helpWin = window.open("", "Mainumby: Ayuda", "titlebar=yes,scrollbars=yes,status=no,top=200,left=200,width=600,height=400");
    helpWin.document.write('<html><head>' +
'<link rel="stylesheet" type=text/css href={{url_for("static", filename="style.css")}}/>' +
"<title>Mainumby: Ayuda</title></head><body>" +
"<h4 class='help'>Ayuda sobre tu nueva cuenta</h4>" +
"<p class='help'>" +
"</p></body></html>");
}
function documento() {
    cargando();
    window.location.assign("doc");
}
function traducir() {
    cargando();
    form = document.getElementById("form");
    form.action = "tra";
    form.submit();
}
</script>
{% endblock %}

{% block body %}
<form name="Form1" id='form' method=POST>

<table class="left">
  <tr class='brown'>
    <td class="title">
      <a href='/'>
    <img class='banner' src="{{url_for('static',
      filename='banner_logo.png')}}" alt="" width="300px" height="52px" />
      </a>
    </td>

    <td class="title" style="width: 100px"></td>

    <td class="menu" style="width: 200px">
      <button class="menu" onclick="traducir()">TRADUCIR</button></td>
    <td class="menuuser" style="width: 200px">{{ user }}</td>
    <td class="menu" style="width: 200px"><a href="acerca">ACERCA DE</a></td>
    <td class="menu" style="width: 200px"><a href="contacto">CONTACTO</a></td>
  </tr>

<tr>
<td colspan='6' style="width: 1200px">
<div id="cargando">

<h1>Identificarte</h1>
    
<h4>
  ¡Ingresaste como <span class="username">{{ user }}</span>!
  <span id="continuar" onclick="traducir()">Continuar...</di#8DEDCDhttps://doodle.com/poll/v9355xvtpzwudz76v>
</h4>

</div>

</td>
</tr>
</table>

</form>

{% endblock %}
