{% extends "base.html" %}

{% block title %}
Gyez: Translation
{% endblock %}

{% block style %}

<style type="text/css">

label#upload
 {
    display: inline-block;
    position: relative;
    background-color: #ABD4F2;
    color: #4B2B17;
    font-family: "Verdana";
    font-size: 110%;
    text-align: center;
    padding: 0px;
    width: 116px;
    border-radius: 4px;
    border-style: outset;
    border-color: black;
    border-width: 2px;
    cursor: pointer;
}
label#upload:hover, label#upload:active
{
    background-color: #CB6027;
    color: white;
}
td.upload
{
    vertical-align: top;
    font-size: 110%;
    width: 125px;
}
td.hide
{
    text-align: right;
    font-size: 90%;
}
td.opciones
{
    font-size: 90%;
    font-style: italic;
    text-align: center;
    border: 1px solid white;
    width: 38%;
}
td.sinopciones
{
    font-size: 90%;
    font-style: italic;
    text-align: center;
    border: 1px solid white;
    width: 38%;
}
td.sep
{
    text-align: left;
}
.wrapper-uploaded {
    {% if DB %}display: none;{% endif %}
    position: relative;
    font-size: 110%;
    padding-bottom: 6px;
}

.btn-upload {
    padding: 0px;
    position: absolute;
    left: 0;
    opacity: 0;
}
.upload-label {
    padding: 0px;
}
.upload-label:hover {
    background-color: #CB6027;
    color: white;
}
div.file {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: LightGray;
}
span.file {
    font-style: italic;
    color: #ABD4F2;
}

div.file table td {
    vertical-align: middle;
    padding-left: 8px;
    padding-right: 18px;
}

div#fuente
{
    font-family: "Verdana";
    font-size: {% if props.tfuente %} {{props.tfuente}} {% else %} 115% {% endif %};
//   font-weight: {% if documento %}normal{% else %}bold{% endif %};
    resize: none;
    padding: 8px 8px;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    height: {% if documento %}260pt{% else %}80pt{% endif %};
    white-space: normal;
    border: thin solid;
    overflow-y: auto;
}
span.fuente
{
    font-weight: bold;
}
div#meta
{
    font-family: "Zebidar";
    font-size: {% if props.tfuente and not props.isdoc %} {{props.tfuente}} {% else %} 100% {% endif %};
    resize: none;
    padding: 8px 0px 8px 8px;
    line-height: 125%;
    margin: 0px;
    box-sizing: border-box;
    width: 101%;
    height: 80pt;
    white-space: normal;
    border: thin solid;
    overflow-y: auto;
}
div#doc
{
}
div.sentdoc
{
}
div.sentdoc:hover
{
    cursor: pointer;
    background-color: #8DEDCD;
}
span.language
{
    font-size: 125%;
/*    font-weight: bold; */
}
div#instruc_fuente, div#instruc2, div#instruc_trad
{
    {% if props.hide %} display: none; {% endif %}
}
div.comments
{
    text-align: left;
}
textarea.ometa
{
    font-family: "Zebidar";
    resize: none;
    font-size: 110%;
    padding: 4px 0px 4px 4px;
    margin: 0px;
    width: 100%;
    border: thin solid;
    height: 60px;
}
textarea.dmeta
{
    font-family: "Zebidar";
    resize: none;
    font-size: 110%;
    padding: 4px 0px 4px 4px;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    border: thin solid;
    height: {% if tradtodo %}260pt{% else %}100pt{% endif %};
}
textarea.comments
{
    font-family: "Verdana";
    resize: none;
    font-size: 110%;
    padding: 4px 0px 4px 4px;
    margin-top: 15px;
    margin-bottom: 0px;
    width: 50%;
    box-sizing: border-box;
    border: thin solid;
    height: 50pt;
}
input.filename
{
   width: 50pt;
}
.segopcion {
    cursor: pointer;
    text-indent: -8px;
    padding-left: 16px;
    padding-right: 8px;
    line-height: 1.2;
/*    padding-bottom: 5px; */
}
div.opcion {
    font-size: 110%;
    padding-bottom: 5px;
    cursor: pointer;
    padding-left: 22px ;
    text-indent: -22px ;
}
.segopcion:hover {
    text-decoration: underline;
}
.opcion:hover {
    text-decoration: underline;
}
.dropdownable {
    position: relative;
    display: inline-block;
}
.modo
{
    clear: left;
    font-size: 130%;
/*    text-align: center; */
    margin-top: .75em;
    margin-bottom: .35em;
/*    border-width: 1px; */
/*    border-color: black; */
/*    border-style: solid; */
    width: 100%;
}
.mode-table {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: #CB6027;
/*  border: 2px solid blue; */
}
td.mode
{
    font-size: 100%;
    text-align: center;
    background-color: #CB6027;
    color: white;
    border-left: 4px solid #CB6027;
    border-right: 4px solid #CB6027;
    border-bottom: 4px solid #CB6027;
    width: 100%;
}
div.dropdown {
    font-family: "Ethiopic Jiret,Abyssinica SIL";
    background-color: #ABD4F2;
    color: white;
    font-size: 110%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    margin: none;
    border: none;
}
#domains {
    {% if not DB %}display: none;{% endif %}
    border: 1px;
    border-style: solid;
    background-color: #ABD4F2;
}
.dropdownMode {
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
div.dropdownable-right {
    position: relative;
    display: inline-block;
    /*    background-color: #4B2B17; */
    border: none;
    width: 100%;
}
div.dropdown-right {
    font-family: 'Ethiopic Jiret,Abyssinica SIL';
    background-color: #ABD4F2;
    color: black;
    font-size: 120%;
    line-height: 1.5;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    margin: none;
    border: 0;
}
.content-dropdownable {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-size: 90%;
    min-width: 225px;
    overflow: auto;
    padding: 4px 0px;
/*    border: 1pt; */
/*    border-style: solid; */
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.4);
    z-index: 1;
}
.texts-dropdownable {
    display: none;
    position: relative;
    left: 125px;
    bottom: 25px;
    background-color: #ABD4F2;
    font-size: 110%;
    /*    min-width: 160px; */
    width: 35%;
    overflow: auto;
    padding: 2px 2px;
    z-index: 1;
}
.mode-dropdownable {
    display: none;
    position: relative;
    background-color: #CB6027;
    color: white;
    top: 0px;
    font-size: 80%;
/*    bottom: 25px; */
    min-width: 100px;
    overflow: auto;
/*    padding: 2px 2px; */
    cursor: pointer;
/*    border: 1pt; */
/*    border-style: solid; */
/*    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.4); */
    z-index: 1;
}
#DBSelect
{
    {% if not DB %}display: none;{% endif %}
    padding-top: 6px;
}
.show {display: block;}

</style>
{% endblock %}

{% block body %}

<div class='nav'>
<table class='nav'>

<form id='form' name="Form1" method=POST>

<tr class="brown">
    <td class="title">
    <a href="/">
    <img class='banner' src="{{url_for('static', filename='gyez_logo.png')}}" alt="" width="400px"
      height="52px" />
    </a>
    </td>

    <td class="title" style="width: 0px"></td>

    <td class="menu" style="width: 200px">
      <input class="menu" type="submit" value="ይውጡ" name="salir" onclick="return alSalir();">
    </td>
    <td class="menu" style="width: 200px"><a href="">ስለ ፕሮጄክቱ</a></td>
    <td class="menu" style="width: 200px"><a href="">እርዳታ</a></td>
    <td class="menu" style="width: 200px"><a href="">አግኙን</a></td>

    <input type="hidden" name="ayuda" value="">
    <input type="hidden" name="modo" value="sent">
</tr>
</form>
</table>
</div>

<table class="main">
<tr>
<td colspan="3"  style="width: 1212px">

<p id="error" class="error">
{% if error %}{{error}}{% endif %}
</p>

<form id="modo" name="Form0" method="post">
<div class="modo">
<table class="mode-table">
<tr>
<td class='mode'>
   <span style="font-style:italic">...ለመተርጐም</span><br/>
   <div id="modeWrap">
     <div onclick="dropdownifyMode()" id='mode0' class='dropdownMode'>
       {% if doc %}
        {% if DB %}
        ሰነድ (ከጘዝ ጥርቅም)
        {% else %}
        ሰነድ (ከኮምፕዩተርዎ)
        {% endif %}
       {% else %}ቃል፣ ሐረግ፣ አረፍተ ነገር
       {% endif %} ▾
     </div>
     <div id='dropdownMode' class='mode-dropdownable'>
       <div class='modeOption' id='mode1' onclick='changeMode("mode1")'>
         {% if doc %}ቃል፣ ሐረግ፣ አረፍተ ነገር{% else %}ሰነድ (ከኮምፕዩተርዎ){% endif %}
       </div>
       <div class='modeOption' id='mode2' onclick='changeMode("mode2")'>
         {% if doc and DB %}ሰነድ (ከኮምፕዩተርዎ){% else %}ሰነድ (ከጘዝ ጥርቅም){% endif %}
       </div>
    </div>
   </div>
</td>
{#
<td class='opciones'>
    ...ለመተርጐም<br/>
{% if doc %}
    <input type="button" class="trad" id="tradsent"
     style="background-color: #FFFFFF; cursor: pointer"
     value="ቃላት፣ ሐረጎች፣ አረፈተ ነግሮች" onclick="alternateSentDoc(false);">
    <input type="button" class="trad" id="traddoc"
     style="background-color: #ABD4F2" value="ሰነዶች">
{% else %}
    <input type="button" class="trad" id="tradsent"
     style="background-color: #ABD4F2" value="ቃላት፣ ሐረጎች፣ አረፈተ ነግሮች">
    <input type="button" class="trad" id="traddoc"
     style="background-color: #FFFFFF; cursor: pointer"
     value="ሰነዶች" onclick="alternateSentDoc(true);">
{% endif %}
</td>
#}
<td class='hide'>
    <span id="hide" class="alternar" onclick="alternarInstrucciones();">
    {% if props.hide %}መምሪያ ይታይ። {% else %}መምሪያ ይደበቅ።{% endif %}
    </span>
</td>
 </tr>
</table>
</div>

{% if doc and not documento %}
<table style="width:100%">

<tr>
<td>
<div class="wrapper-uploaded" id="wrapper-uploaded">
{#
  {% if not user %}
  <div class="advert" id="advert">Notá que no es posible registrar una traducción
    en la base de datos de Mainumby sin identificarte.</div>
    {% endif %}
#}
  <label id="upload" for="subido">
  <div class="upload-label">ይፈልጉ...</div>
  <input id='subido' type='file' class="btn-upload" onchange="fileUploaded();" name='subido'>
  </label>
  <span class='instructions'>
    ከኮምፕዩተርዎ ፋይል ይስቀሉ።
  </span>
</div>
</td>
</tr>

<tr>
<td>
<div id="DBSelect">
{#
  <input type="button" value="ይምረጡ..." id="button" onclick="selectFile();">
#}
  <span class'instructions'>
    ከጘዝ ጥርቅሙ ፋይል ይምረጡ።
  </span>
</div>
</td>
</tr>

<tr>
<td id="domains">
{% if text_html %}
{{ text_html|safe }}
{% endif %}
</td>
</tr>

</table>

{% endif %}

<input type="hidden" name="documento" value=''>
<input type="hidden" name="hide" value={% if props.hide %}"true"{% else %}"false"{% endif %}>
<input type="hidden" name="docsrc" value="computer">
<input type="hidden" name="textid" value="">
<input type="hidden" name="modo" value="sent">

</form>

{% if documento or not doc %}

<table>

  <tr>
    <td style="width: 590px">
      <span class="language">አማርኛ</span>
    </td>
    <td style="width: 20px"></td>
    <td style="width: 590px">
      <span class="language">ጉራጊና</span>
  </tr>

  <tr>
  <td>
  {% if documento %}
    <div id='fuente' contenteditable="false">{{documento|safe}}</div>
  {% elif oracion %}
    <div id='fuente' contenteditable="true">{{oracion|safe}}</div>
  {% else %}
    <div id='fuente' contenteditable="true"></div>
  {% endif %}<br class='instruc'/>

  {% if documento %}
    <div class="instruc" id="instruc_fuente">
    {% if not tradtodo %}
    የሚተረጐም እረፍተ ነገር ለመምረጥ ጠቅ ያድርጉ።
    <br />
    {% endif %}
    ይህንን ሰነድ ለመተው እ"ይተው" ይጫኑ።
    </div>
    <br class='sep'/>
    <input type="button" value="ይተው" id="button" onclick="abandonarDoc();">
  {% elif oracion %}
    <div class="instruc" id="instruc_fuente">
      ሌላ አረፍተ ነገር ለመተርጐም፣ መጀመሪያ "ይሰረዝ" ይጫኑ ወይም ደግሞ
      እላይ ያለው ቦታ ጠቅ ይበሉ።
    </div>
    <br class='instruc'/>
    <input type="button" value="ይሰረዝ" id="button" onclick="erase()">
  {% elif not doc %}
    <div class="instruc" id="instruc_fuente">
      ቃል፣ ሐረግ ወይም አረፍተ ነገር ጽፈው አስገቢ ቁልፍ ("Enter") ይጫኑ።
  {% endif %}
    </td>

    <td></td>

    <td>
  {% if doc and not tradtodo %}
<span class="level">የሚተረጐም አረፍተ ነገር</span>
  {% endif %}
<div id='meta'>
  {% if tra_seg_html %}
      {% for tra in tra_seg_html %}
      {{tra[2]|safe}}
      {% endfor %}
  {% endif %}
</div>

  {% if tra %}
    <br class='instruc'/>
<div class='instruc'>
    <div id='instruc2'>
    • "▾" ለተደረገበት ክፋይ ሌላ ምርጫ መምረጥ ይቻላል።<br />
    • የክፋዮቹን ቦታ ለመለዋዋጥ አንድ ክፋይ በማውሱ ይዘው በሌላ ክፋይ ላይ ይልቀቁት።</div>
</div>
  {% if not tradtodo %}
{#
    <br class="sep" />
    <span id="correccion" class="alternar" onclick="alternarCorreccion();">Desactivar corrección ortográfica automática.</span>
    <br class='instruc'/>
#}
<textarea class='ometa' id='textmeta'>{{tra|safe}}</textarea>
{% if tra %}
    <br class='instruc' />
    <div class="instruc" id="instruc_trad">
    • በትርጉሙ ካልተስማሙበት ሊያርሙት ይችላሉ።<br />
    {% if doc %}
    • ይህንን አረፍተነገር እሰነዱ ትርጉም ለማካተት በ"ይካተት" ይጫኑ።
    {% else %}
    • ትርጉሙን እቅነጥብ ሳሌዳ ለመገልበጥ በ"ይገልበጥ" ይጫኑ።
    <br />
    • ትርጉሙን በጘዝ ማጠራቀሚያ ለመጨመር በ"ይገንዘብ" ይጫኑ።
    {% endif %}
{% endif %}
    </div>

    <br class='instruc'/>

  {% if doc %}
    <input type="button" value="ይካተት" id="button" onclick="aceptarTrad();">
  {% else %}
    <input type="button" value="ይገልበጥ" id="button" onclick="copiar();">
    <input type="button" value="ይመዝገብ" id="button" onclick="registrar();">
  {% endif %}
{% endif %}

{% endif %}

  {% if documento %}
   {% if not tradtodo %}
    <br class="sep" />
    <span class="level">Documento</span><br />
   {% endif %}
    <form name="Form3" id="text-options">
    <textarea class='dmeta' id='aceptado'>{% if aceptado %}{{aceptado|safe}}{% endif %}</textarea>
    <br class='instruc' />
    <input type="submit" value="ማስቀመጥ" id="button"/>
    <label>የፋይል ስም:<input type="text" class="filename" id="text-filename" placeholder="doc.txt" size="50"/></label>
    <input type="hidden" name="hide" value={% if props.hide %}"true"{% else %}"false"{% endif %}>
    <br class='sep' />
    <input type="button" value="Registrar" id="button" onclick="registrar();">
    </form>
  {% endif %}

    </td>
  </tr>
  {% if tra_seg_html %}
  <tr>
    <td colspan='3' align='center'>
      <textarea class="comments" id="comments" placeholder='ፕሮግራሙን እንዲሻሻል ሐሳብ ወይም ደግሞ እርማት ለማቅረብ፣ በዝህ ቦታ ጽፈውት አዝራሩን ይጫኑ።'>
      </textarea><br class='sep' />
    <input type="button" value="ይግባ" id="button" onclick="comments();">
    </td>
  </tr>
  {% endif %}

</table>
{% endif %}

<form name="Form2" method=POST action='tra'>
<input type="hidden" name="modo" value={% if isdoc %}"doc"{% else %}"sent"{% endif %}>
<input type="hidden" name="ofuente" value="">
<input type="hidden" name="oindex" value={% if oindex %}{{oindex}}{% else %}"0"{% endif %}>
<input type="hidden" name="tacept" value="">
<input type="hidden" name="isdoc" value=false>
<input type="hidden" name="erase" value=false>
<input type="hidden" name="registrar" value=false>
<input type="hidden" name="tfuente" value="115%">
<input type="hidden" name="ometa" value="">
<input type="hidden" name="nocorr" value="">
<input type="hidden" name="hide" value={% if props.hide %}"true"{% else %}"false"{% endif %}>
<input type="hidden" name="tradtodo" value={% if tradtodo %}true{% else %}false{% endif %}>
<input type="hidden" name="docscrolltop" value=0>
<input type="hidden" name="abandonardoc" value=false>
</form>

{% endblock %}

{% block script %}

{% if doc and not documento %}
<script src="{{url_for('static', filename='mammoth.browser.js')}}"></script>
{% endif %}

{% if aceptado %}
<script async="" src="{{url_for('static', filename='FileSaver.js')}}"></script>
<script async="" src="{{url_for('static', filename='Blob.js')}}"></script>
<script async="" src="{{url_for('static', filename='SaveDoc.js')}}"></script>
{% endif %}

{% if docscrolltop %}
<script>
document.getElementById("fuente").scrollTop = {{docscrolltop}};
</script>
{% endif %}

<script charset="utf-8">

document.getElementById("fuente").focus();

// Decect new line en the 'fuente' area to initiate translation.
document.getElementById("fuente").addEventListener("keypress", function(event) {
   key = event.which || event.keyCode;
   longFuente();
   if (key == 13) {
       event.preventDefault();
       fuenteNewline();
   }
});

// Detect edits in 'textmeta' to correct spelling errors.
document.getElementById("textmeta").addEventListener("keyup", function(event) {
    if (!document.Form2.nocorr.value) {
      key = event.key;
      code = event.which || event.keyCode;
      if (code > 47 && code != 224) {
        correctSgw();
      }
    }
  });

{% if not doc %}
document.getElementById("fuente").addEventListener("click", function(event) {
    if (document.getElementById("textmeta").value) {
        erase();
    }
});
{% endif %}

function getDocScrollTop()
{
    var doc = document.getElementById("fuente");
    var y = doc.scrollTop;
    return y;
}

function longFuente()
{
    f = document.getElementById("fuente");
    t = f.innerHTML;
    t = t.replace(/<br>/g, "");
    l = t.length;
    if (l > 40) {
        f.style.fontSize = "115%";
        document.Form2.tfuente.value = "115%";
    }
}

function alSalir()
{
//    document.Form2.erase.value = true;
//    document.Form2.ofuente.value = '';
//    document.Form2.ometa.value = '';
//    document.Form2.tfuente.value = "115%";
//    document.Form1.action = "fin";
//    document.Form1.target = "_self";     // Misma ventana
//    document.Form1.submit();             // Enviar la página
//    document.getElementById("aceptado").innerHTML = "";
    return true;
}

function eraseFuente() {
    document.getElementById("fuente").innerHTML = "";
}

function erase()
{
    document.Form2.erase.value = true;
    document.Form2.ofuente.value = '';
    document.Form2.ometa.value = '';
    document.Form2.tfuente.value = "115%";
    document.Form2.submit();
    document.getElementById("aceptado").value = '';
    return true;
}

function copiar()
{
    textmeta = document.getElementById("textmeta");
    textmeta.select();
    document.execCommand("copy");
}

function registrar()
{
    if (document.getElementById("aceptado"))
    {
      // Registrar traducción de documento
      meta = document.getElementById("aceptado").innerHTML;
      isdoc = true;
    } else {
      // Registrar traducción de oración
      meta = document.getElementById("textmeta").innerHTML;
      isdoc = false;
    }
    document.Form2.ometa.value = meta;
    document.Form2.erase.value = true;
    document.Form2.registrar.value = true;
    document.Form2.ofuente.value = '';
    document.Form2.tfuente.value = "115%";
    document.Form2.isdoc.value = isdoc;
    document.Form2.action = "tra";
    document.Form2.submit();
}

function aceptarTrad()
{
    trad = document.getElementById("textmeta").value;
    index = document.Form2.oindex.value;
//    alert("Aceptando oración " + index + " :: " + trad);
    document.Form2.tacept.value = trad;
    document.Form2.isdoc.value = true;
    document.Form2.tfuente.value = "100%";
    document.Form2.submit();
    document.getElementById("aceptado").value = '';
}

function comments()
{
    com = document.getElementById("comments").value;
//    index = document.Form2.oindex.value;
    alert("Recording " + com);
//    user_location();
//    document.Form2.tacept.value = trad;
//    document.Form2.isdoc.value = true;
//    document.Form2.tfuente.value = "100%";
//    document.Form2.submit();
    document.getElementById("comments").value = '';
}

function user_location() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      console.log( this.responseText);
    }
  };
  xhttp.open("GET", "//api.ipify.org?format=json", true);
  xhttp.send();
}

function abandonarDoc()
{
    document.Form2.modo.value = "doc";
    document.Form2.abandonardoc.value = true;
    document.Form2.isdoc.value = true;
    document.Form2.ofuente.value = '';
    document.Form2.ometa.value = '';
    document.Form2.submit();
    document.getElementById("aceptado").value = '';
}

//function traducirTodo()
//{
//    document.Form2.tradtodo.value = true;
//    document.Form2.isdoc.value = true;
//    document.Form2.modo.value = '';
//    document.Form2.submit();
//}

//function mayuscula(string) {
//    return string.charAt(0).toUpperCase() + string.slice(1);
//}

function addTri(string) {
    return string + " \u25BE";
}

function removeTri(string) {
    return string.replace(/ \u25BE/g, '');
}

function cleanTarget(string) {
    // Remove line breaks.
    string = string.replace(/(\r\n|\n|\r)/gm, "");
    string = string.trim();
    // Convert non-breaking spaces to spaces.
    string = string.replace(/\&nbsp;/g, ' ');
    // Remove menu triangle.
    string = string.replace(/ \u25BE/g, '');
    // Remove extra spaces
    string = string.replace(/\s+/g," ");
    // Remove spaces before periods, commas, and semicolons
    string = string.replace(/ \./g, ".");
    string = string.replace(/ \,/g, ",");
    string = string.replace(/ \;/g, ";");
    string = string.replace(" ?", "?");
    string = removeTags(string);
//    {% if props.cap %}
//    string = mayuscula(string);
//    {% endif %}
    return string;
}

function removeTags(str) {
    // Remove HTML tags from str.
    if ((str===null) || (str==='')) {
      return false;
    } else {
      str = str.toString();
      return str.replace( /(<([^>]+)>)/ig, '');
    }
 }

function correctSgw() {
    textmeta = document.getElementById("textmeta");
    text = textmeta.value;
    if (text) {
      position = textmeta.selectionStart;
	// Where to put the cursor after correction.
      insertion = position;
      changed = '';
      c = text.slice(position-1, position);
//	alert("char " + c + " before " + before + " after " + after);
//    if (["â", "ä"].indexOf(c) >= 0) {
//	    changed = "ã";
//    } else if (["ê", "ë"].indexOf(c) >= 0) {
//	    changed = "ẽ";
//    } else if (["î", "ï"].indexOf(c) >= 0) {
//	    changed = "ĩ";
//    } else if (["ô", "ö"].indexOf(c) >= 0) {
//	    changed = "õ";
//    } else if (["û", "ü"].indexOf(c) >= 0) {
//	    changed = "ũ";
//    } else if (["ŷ", "ÿ"].indexOf(c) >= 0) {
//	    changed = "ỹ";
//    } else if ("ĝ" == c) {
//	    changed = "g̃";
//	    // Two characters so insert character one position forward.
//	    insertion += 1;
//	} else if (["`", "´", "°", "‘", "'", "ʼ"].indexOf(c) >= 0) {
//	    changed = "’";
//	}
	if (changed) {
	    before = text.slice(0, position-1);
	    after = text.slice(position);
	    text = before + changed + after;
	    document.getElementById("textmeta").value = text;
	    textmeta.selectionEnd = insertion;
    }
  }
}

function fuente() {
    f = document.getElementById("fuente").innerHTML;
    // May contain <br>
    f = f.replace(/<br>/g, "");
    return f;
}

function fuenteNewline() {
    f = fuente();
    document.getElementById("fuente").innerHTML = f;
    document.Form2.ofuente.value = f;
    document.Form2.action = "tra";
    document.Form2.submit();
}

function changeTarget(button, choiceid) {
    // Swap items at the top with selected menu item.
    newitem = document.getElementById(choiceid).innerHTML;
    olditem = document.getElementById(button).innerHTML;
    // Add and remove the menu dropdown triangle.
    newitem = addTri(newitem);
    olditem = removeTri(olditem);
    document.getElementById(button).innerHTML = newitem;
    document.getElementById(choiceid).innerHTML = olditem;
    actualTra();
}

function changeMode(choiceid) {
    // Swap mode at the top with selected menu item.
    newitem = document.getElementById(choiceid).innerHTML;
    olditem = document.getElementById('mode0').innerHTML;
    // Add and remove the menu dropdown triangle.
    newitem = addTri(newitem);
    olditem = removeTri(olditem);
    document.getElementById('mode0').innerHTML = newitem;
    document.getElementById(choiceid).innerHTML = olditem;
    // Update mode
//    selectedText = document.getElementById('mode0').innerHTML;
    if (newitem.includes("\u1243\u120d")) {
      document.Form0.modo.value = "sent";
      document.Form2.isdoc.value = false;
      document.Form0.submit();
    } else if (newitem.includes("\u1325\u122d\u1245\u121d")) {
      document.Form0.modo.value = "doc";
      document.Form2.isdoc.value = true;
      document.Form0.docsrc.value = "DB";
      document.Form0.submit();
//      selectFile();
    } else {
      document.Form0.modo.value = "doc";
      document.Form2.isdoc.value = true;
      document.Form0.submit();
    }
}

/* What happens when the user clicks on a sentence in the document window.*/
function seleccionarOra(sentid, index) {
    var oracion = document.getElementById(sentid).innerHTML;
    var scrolltop = getDocScrollTop();
    document.Form2.docscrolltop.value = scrolltop;
//    alert("Scrolltop " + scrolltop);
    document.Form2.ofuente.value = oracion;
    document.Form2.oindex.value = index;
    document.Form2.tfuente.value = "100%";
    document.Form2.isdoc.value = true;
    document.Form2.submit();
}

/* When the user clicks on the button, toggle between hiding and showing the dropdown content */
function dropdownify(button) {
    element = document.getElementById(button);
    element.classList.toggle("show");
}

/* When the user clicks on the button, toggle between hiding and showing the dropdown content */
function dropdownifyMode() {
    element = document.getElementById("dropdownMode");
    element.classList.toggle("show");
}

/* When the user clicks on the button, toggle between hiding and showing the dropdown content */
function dropdownifyRight(childid, parentid) {
    child = document.getElementById(childid);
    parent = document.getElementById(parentid);
    parentLabel = parent.innerHTML;
    if (!child.style.display || child.style.display === "none") {
      child.style.display = "block";
      parent.innerHTML = triDown(parentLabel);
    } else {
      child.style.display = "none";
      parent.innerHTML = triRight(parentLabel);
    }
}

/* Arregla el triángulo que sigue el nombre de un dominio */
function triDown(string) {
    return string.replace(/\u25B8/g, "\u25BE");
}

function triRight(string) {
    return string.replace(/\u25BE/g, "\u25B8");
}

function openSelected(textid) {
    // Open the selected Text from the DB.
    document.Form0.modo.value = "doc";
    document.Form2.isdoc.value = true;
    document.Form0.textid.value = textid;
    document.Form0.submit();
}

function hideDomains() {
    var texttd = document.getElementById("domains");
    texttd.style.display = "none";
}

function showDomains() {
    var texttd = document.getElementById("domains");
    texttd.style.display = "block";
//    var selBot = document.getElementById("DBSelect");
//    selBot.style.display = "none";
}

/* Find the segment translations currently selected */
function actualTra() {
    var trans = "";
    var dropdowns = document.getElementsByClassName("dropdown");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var dropdown = dropdowns[i];
      var trans1 = dropdown.innerHTML;
      trans = trans + " " + trans1;
    }
    trans = cleanTarget(trans);
    document.getElementById('textmeta').value = trans;
    document.Form2.tmeta.value = trans;
}

function ingresar() {
    form = document.getElementById("form");
    form.action = "login";
    form.submit();
}

function alternateSentDoc(doc) {
    if (doc) {
      sent = document.getElementById("tradsent");
      tdoc = document.getElementById("traddoc");
      document.Form0.modo.value = "doc";
      document.Form2.isdoc.value = true;
      tdoc.style.background = "#8DEDCD";
      tdoc.style.cursor = "default";
      sent.style.background = "#F5E754";
      sent.style.cursor = "pointer";
      document.Form0.submit();
    } else {
      sent = document.getElementById("tradsent");
      tdoc = document.getElementById("traddoc");
      document.Form0.modo.value = "sent";
      document.Form2.isdoc.value = false;
      sent.style.background = "#8DEDCD";
      sent.style.cursor = "default";
      tdoc.style.background = "#F5E754";
      tdoc.style.cursor = "pointer";
      document.Form0.submit();
    }
}

/* Alternar corrección automática */
function alternarCorreccion() {
    if (document.Form2.nocorr.value) {
      document.Form2.nocorr.value = "";
      document.getElementById('correccion').innerHTML = "አጻጻፍ እንዳይታረም።";
    } else {
      document.Form2.nocorr.value = "true";
      document.getElementById('correccion').innerHTML = "አጻጻፍ ይታረም።";
    }
}

/* Alternar hide instrucciones */
function alternarInstrucciones() {
    var f;
    if (document.Form0.hide.value == "false") {
      document.Form0.hide.value = "true";
      document.Form2.hide.value = "true";
    if (document.Form3) {
	    document.Form3.hide.value = "true";
    }
    document.getElementById("hide").innerHTML = "መምሪያ ይታይ።";
    f = document.getElementById("instruc_fuente");
    if (f) {
	    f.style.display = "none";
    }
    f = document.getElementById("instruc2");
    if (f) {
	    f.style.display = "none";
    }
    f = document.getElementById("instruc_trad");
    if (f) {
	    f.style.display = "none";
    }
    f = document.getElementById("advert");
    if (f) {
	    f.style.display = "none";
    }
  } else {
	document.Form0.hide.value = "false";
	document.Form2.hide.value = "false";
	if (document.Form3) {
	    document.Form3.hide.value = "false";
	}
	document.getElementById("hide").innerHTML = "መምሪያ ይደበቅ።";
	f = document.getElementById("instruc_fuente");
	if (f) {
	    f.style.display = "block";
	}
	f = document.getElementById("instruc2");
	if (f) {
	    f.style.display = "block";
	}
	f = document.getElementById("instruc_trad");
	if (f) {
	    f.style.display = "block";
	}
	f = document.getElementById("advert");
	if (f) {
	    f.style.display = "block";
	}
    }
}

// Buscar file subido y show su nombre.
function fileUploaded() {
    eraseError();
    hideDomains();
    document.Form0.docsrc.value = "computer";
    var uploaded = document.getElementById("subido");
    if (uploaded) {
	var files = uploaded.files;
	if (files) {
	    var file = files[0];
	    var size = file.size;
	    size = size / 1000;
	    if (!file.type.match('text.*')) {
		if (file.type == "application/vnd.openxmlformats-officedocument.wordprocessingml.document") {
		    showDocxUploaded(file, size);
		    return true;
		} else {
		    error("¡" + file.name + " no es un file de texto válido! (tipo " + file.type + ")");
		    return false;
		}
	    } else if (size > 1000) {
		error("¡" + file.name + " es demasiado grande para Mainumby! Por favor subí otro file más pequeño.");
		return false;
	    }
	    showFileUploaded(file, size);
	}
    }
    return true;
}

function showDocxUploaded(file, size) {
    // Use mammoth to extract text from docx file.
    var name = file.name;
    var r = new FileReader();
    r.onload = function(e) {
	var arrayBuffer = e.target.result;
	mammoth.extractRawText({arrayBuffer: arrayBuffer})
	    .then(showContenido)
	    .done();
    };
    r.readAsArrayBuffer(file);
    showInfoFile(name, size);
}

function showInfoFile(name, size) {
    var html = "<div class='file'><table><tr><td class='file'><span class='heading'>የሰቀለው ፋይል</span></td><td class='file'><span class='file'>";
    html += name + "</span><br/>" + size;
    html += " KB</td><td class='file'><button id='button' type='button' onclick='procDoc();'>ይክፈቱት</button></td>";
    html += "<td class='file'><button id='button' type='button' onclick='cancelProcDoc();'>ይተዉት</button></td></tr></table></div>";
    document.getElementById('wrapper-uploaded').innerHTML = html;
}

function showContenido(result) {
    content = result.value;
    document.Form0.documento.value = content;
}

// Mostrar el nombre de un file subido y un botón para abrirlo.
function showFileUploaded(file, size) {
    var name = file.name;
    var r = new FileReader();
    r.onload = function(e) {
	content = e.target.result;
	document.Form0.documento.value = content;
    }
    r.readAsText(file);
    showInfoFile(name, size);
}

// Mostrar files, organizados por dominio, que están almacenados.
// function selectFile()
// {
//     document.Form0.docsrc.value = "DB";
//     showDomains();
// }

// Leer el content de un file subido y guardarlo en la variable documento.
function procDoc() {
//    var text = document.Form0.documento.value;
    document.Form0.submit();
    return true;
}

function cancelProcDoc() {
    document.Form0.documento.value = '';
    document.Form0.submit();
    return true;
}

/* Drag and drop translation buttons */
function allowDrop(ev) {
    ev.preventDefault();
}
function drag(ev) {
//    ev.preventDefault();
    ev.dataTransfer.effectAllowed = "move";
    ev.dataTransfer.setData("text/plain", ev.target.id);
}
function drop(ev) {
    ev.preventDefault();
    var src = document.getElementById(ev.dataTransfer.getData("text/plain"));
    var srcParent = src.parentNode;
    var tgt = ev.currentTarget.firstElementChild;
    ev.currentTarget.replaceChild(src, tgt);
    srcParent.appendChild(tgt);
    // Update the sentence in the ometa textbox
    actualTra();
}
// Close the dropdown if the user clicks outside of it
window.addEventListener("click", function(event) {
    // Dropdowns in segment translations
    if (!event.target.matches('.dropdown')) {
      var dropdowns = document.getElementsByClassName("content-dropdownable");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
    // Translation mode dropdown
    if (!event.target.matches('.dropdownMode')) {
      dropdowns = document.getElementsByClassName("mode-dropdownable");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
)
</script>

{% endblock %}
